:local(.container) {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Helvetica;

}

:local(.subcontainerIngredient) {
  display: flex;
  margin-left: auto;
}

:local(.subcontainerImplement) {
  display: flex;
  margin-right: auto;
}
